.upload-picture {
	.pic-upload-btn {
    top: 20rpx;
		width: 480rpx !important;
	}
	.pic-upload-btn-disabled {
    top: 20rpx;
		width: 480rpx !important;
	}
}

.container {
  .pic-upload-btn {
    color: rgba(0, 0, 0, 1) !important;
    top: 20rpx;
		width: 480rpx !important;
  }
}

.guide-panel {
	.switch-btn {
		color: #000000 !important;
		width: 480rpx;
		margin: 0 auto;
	}
}
